.test{
	border:1px solid red;
}

body{
	font-family: 'open-sans'
}

/* quick header */

.quick-header{
	background: #E9E9E9;
}
.quick-header .quick-contact ul{
	margin-bottom: 0px;
	margin: 8px;
}
.quick-header ul li{
	display: inline-block;
}
.quick-header .quick-contact ul li:nth-child(1){
	background: url('../images/phone-2.png') no-repeat;
	background-size: 18px;
	padding-left: 20px;
	margin-right: 20px;
}
.quick-header .quick-contact ul li:nth-child(2){
	background: url('../images/mail-icon.png') no-repeat;
	background-size: 16px;
	padding-left: 20px;
}
.quick-header .quick-contact{
	text-align: left;
	font-size: 13px;
}

.quick-header .quick-social{
	text-align: right;
	padding-right: 45px;
}
.quick-header .quick-social ul{
	margin-bottom: 0px;
	margin: 3px;
	margin-top: 5px;
}
.quick-header .quick-social ul li a{
	display: block;
	height: 22px;
	width: 22px;
}
.quick-header .quick-social ul li{
	background: url('../images/social-icons-quick.png');
	background-size: 107px;
	height: 22px;
	width: 22px;
	
}
.quick-header .quick-social ul li:hover{
	/*-webkit-filter:none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;*/
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(grayscale.svg); /* Firefox 4+ */
	filter: gray; /* IE 6-9 */
}
.quick-header .quick-social ul li:nth-child(1){
	background-position: 26px -30px;
}
.quick-header .quick-social ul li:nth-child(2){
	background-position: 77px -30px;
}
.quick-header .quick-social ul li:nth-child(3){
	background-position: 104px -55px;
}
.quick-header .quick-social ul li:nth-child(4){
	background-position: 77px -4px;
}
.quick-header .quick-social ul li:nth-child(5){
	background-position: 103px -4px;
}
.quick-header .quick-social ul li:nth-child(6){
	background-position: 51px -4px;
}
/* // end quick header */



/* main header */
.main-header{
	height: 90px;
}
.main-header .logo{
	text-align: center;
}
.main-header .logo img{
	height: 80px;
	margin-top: 5px;
}


/* // main header */


/*slider css*/
.image-slider{
	background: #000;
}
/* // end slider css*/


/*we offer section*/

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

.we-offer{
	margin-top: 30px;
	margin-bottom: 30px;
}
.we-offer .hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
}
.we-offer .hi-icon-wrap h2{
	font-size: 20px;
}
.hi-icon{
	display: inline-block;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	height: 150px;
	width: 150px;
	margin-top: 40px;
	/*border: 1px solid #3851bc;*/
}
.we-offer .hi-icon-archive.web-development{
	background: url("../images/web.png") no-repeat;
	background-size: 130px;
	background-position: 12px 11px;
}
.we-offer .hi-icon-archive.mobile-app{
	background: url("../images/mobile-app.png") no-repeat;
	background-size: 130px;
	background-position: 12px 11px;
}
.we-offer .hi-icon-archive.digital-mkt{
	background: url("../images/digital.png") no-repeat;
	background-size: 130px;
	background-position: 12px 11px;
}
.we-offer .hi-icon-archive.design{
	background: url("../images/design.png") no-repeat;
	background-size: 130px;
	background-position: 12px 11px;
}
.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}


.we-offer .hi-icon-wrap .hi-icon {
	/*background: #3851bc;*/
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.we-offer .hi-icon-wrap .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.we-offer .hi-icon-wrap .hi-icon:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

