@import url('bootstrap.css');
@import url('font-awesome.css');
@import url('font-awesome.min.css');
@import url('fonts/webrupee/stylesheet.css');
@font-face {
	font-family: 'font_1';
	src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'font_2';
	src: url('fonts/OpenSans-Light.ttf');
}
@font-face {
	font-family: 'font_3';
	src: url('fonts/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'font_4';
	src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family: 'font_5';
	src: url('fonts/seguibli.ttf');
}
@font-face {
	font-family: 'font_6';
	src: url('fonts/seguibl.ttf');
}
@font-face {
	font-family: 'font_7';
	src: url('fonts/seguili.ttf');
}
@font-face {
	font-family: 'font_8';
	src: url('fonts/OpenSans-Italic.ttf');
}

/*user color */
/*Blue : #0F5040*/
/*end user color */
.red-text{
	color: #db3737;
}
.WebRupee{
	font-family: 'webrupeebook';
}
.test{
	border: 2px solid red;
	width: 100%
}
.ico, i{
	display: inline-block;
	background-image: url(../images/codebibber-sprite.png);
}
a{
	outline:0;
}
.ft-lt{
	float: left;
}
.ft-rt{
	float: right;
}
.red-btn {
	background: #db3737;
	color: #fff;
}
.gray-btn, .green-btn:hover {
	background: #efefef;
	color: #000;
}
.gray-btn:hover {
	background: #ccc;
	color: #000;
}
.white-btn {
	background: #fff;
	color: #000;
}
.white-btn:hover {
	background: #000;
	color: #fff;
}
.bttn {
	display: inline-block;
	text-align: center;
	font-size: 18px;
	font-weight: 400px;
	text-decoration: none;
	padding: 10px 20px;
	text-decoration: none;
}
strong{
	font-family: 'font_3';
}
/*****************************/
/* top social icons*/
/*****************************/
.top-header ul.social-icon{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: right;
}
.top-header ul li{
	display: inline-block;
}
.top-header ul li a {
	display: block;
	padding: 10px 5px 5px;
}
.top-header ul li a:hover {
	background:#efefef;
}

.top-header ul li a i {
	width: 27px;
	height: 20px;
}
.top-header ul li a.facebook i {
	background-position: -132px -323px;
}
.top-header ul li a.facebook:hover i {
	background-position: -132px -343px;
}

.top-header ul li a.twitter i {
	background-position: -106px -323px;
}
.top-header ul li a.twitter:hover i {
	background-position: -106px -343px;
}

.top-header ul li a.youtube i {
	background-position: 3px -323px;
}
.top-header ul li a.youtube:hover i {
	background-position: 3px -343px;
}

.top-header ul li a.googleplus i {
	background-position: -51px -323px;
}
.top-header ul li a.googleplus:hover i {
	background-position: -51px -343px;
}

.top-header ul li a.linkedin i {
	background-position:-77px -323px;
}
.top-header ul li a.linkedin:hover i {
	background-position: -77px -343px;
}

.top-header ul li a.pinterest i {
	background-position: -156px -323px;
}
.top-header ul li a.pinterest:hover i {
	background-position: -156px -343px;
}


/*****************************/
/* // end top social icons*/
/*****************************/



/*****************************/
/*logo*/
/*****************************/
.top-header .logo{
	padding-bottom:22px;
	position: relative;
}
.top-header .logo img{
	margin-left: 20px;
	height: 75px;
}
.top-header .logo .logo-name{
	position: absolute;
	font-family: 'font_1';
	font-size: 30px;
	top: 19px;
	left: 116px;
	color: #000;
}
.top-header .logo .logo-name span{
	font-family: 'font_1';
	color: #db3737;
}
/*****************************/
/* // end logo*/
/*****************************/


/*mobile menu*/
.mobile-menu.fixed{
	position: fixed;
	width: 100%;
	/* left: 0px; */
	/* right: 0px; */
	top: 0px;
	z-index: 3;
}
.mobile-menu{
	display: none;
	background: #000;
	padding: 5px;
	position: relative;
	padding-top:10px;
	padding-bottom: 10px;
	height: 68px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
/*	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
*/
}
.mobile-menu .logo{
	float: left;
}
.mobile-menu .logo img{
	height: 48px;
}
.mobile-menu .logo .logo-name {
position: absolute;
font-family: 'font_1';
font-size: 16px;
top: 10px;
left: 63px;
color: #FFF;
}
.mobile-menu .logo .logo-name span {
	font-family: 'font_1';
	color: #db3737;
}

.mobile-menu ul{
	margin: 0px;
	padding:0px;
	list-style: none;
	position: absolute;
	top: 58px;
	width: 100%;
	left: 0px;
	z-index: 3;
	display: none;
}
.mobile-menu ul li{
	display: block;
	width: 100%;
	background: #000;
}
.mobile-menu ul li a{
	color: #fff;
	padding: 8px 14px;
	width: 100%;
	display: block;
	font-family: 'font_1';
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
}
.mobile-menu ul li:hover{
	background: #282828;
}
.mobile-menu .menu-icon{
	float: right;
}
.mobile-menu .menu-icon img{
	height: 27px;
	margin-top: 10px
}

.mobile-menu.fix-menu{
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	top: 0;
	position: fixed;
}
/*****************************/
/* main-menu */
/*****************************/
.main-menu {
	background: #000;
}
.main-menu ul{
	margin:0px;
	padding:0px;
	list-style: none;
}
.main-menu ul li{
	display: inline-block;
}
.main-menu ul.ft-lt li a{
	font-size: 30px;
	font-family: 'font_3';
	display: block;
	color: #fff;
	padding: 15px 20px;
	text-decoration: none;
}
.main-menu ul.ft-lt li a:hover{
	background:#282828;
}
.main-menu ul li a.active {
	background:#282828;
}
.main-menu ul.ft-rt li a{
	font-size: 16px;
	font-family: 'font_1';
	font-weight: 400;
	font-style: italic;
	text-transform: none;
	display: block;
	color: #fff;
	padding: 25px 15px;
	text-decoration: none;
}
.main-menu ul.ft-rt li a:hover{
	background:#282828;
}

/*****************************/
/* // end main-menu */
/*****************************/




/*****************************/
/*second menu*/
/*****************************/

.second-menu{
	background: #000;
	/*display: none;*/
	position: fixed;
	z-index: 2;
	top:-600px;
	width: 100%;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
.second-menu .logo{
	text-align: center;
}
.second-menu .logo img{
	height: 56px;
	margin-top: 17px;
}
.second-menu ul{
	margin: 0px;
	padding:0px;
	list-style: none;
}
.second-menu ul li{
	display: inline-block;
}
.second-menu ul li:nth-child(1) a{
	display: block;
	padding: 34px 15px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-family: 'font_1';
	font-style: normal;
}
.second-menu ul li:nth-child(2) a{
	display: block;
	padding: 34px 15px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-style: normal;
	font-family: 'font_1';
}
.second-menu ul li:nth-child(3) a{
	display: block;
	padding: 34px 15px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-style: normal;
	text-decoration: none;
	font-family: 'font_1';
}
.second-menu ul li a:hover {
	background: #232323;
}
.second-menu ul li a.active {
	background: #232323;
}
.second-menu ul{
	float: left;
	text-align: right;
}
.second-menu ul{
	float: right;
}
.second-menu ul li a{
	display: block;
	padding: 35px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	text-transform: none;
	color: #fff;
	text-decoration: none;
	font-family: 'font_1';

}
.second-menu ul li:last-child a{
	background: #db3737;
}
.second-menu ul li:last-child a:hover{
	background: #232323;
}

/*****************************/
/* end second menu*/
/*****************************/


/*image slider*/
.slider ul li{
	position:relative;
}

.slider ul li .small-circle.robust{
	position: absolute;
	top: 16%;
	left: 4.2%;
	font-size: 28px;
	color: #fff;
	font-family: 'font_5';
}
.slider ul li .small-circle.because{
	position: absolute;
	top: 16%;
	left: 3.6%;
	font-size: 28px;
	color: #fff;
	font-family: 'font_5';
}
.slider ul li .big-circle{
	
}
.slider ul li .big-circle .design{
	left: 8.5%;
	top: 13%;
	font-size: 50px;
	width: 25%;
	text-align: center;
	position: absolute;
	color: #330000;
	font-family: 'font_5';
	line-height: 1;
}
.slider ul li .big-circle .we-create{
	text-align: center;
	position: absolute;
	font-family: 'font_8';
	font-size: 20px;
	top: 50%;
	width: 28%;
	left: 6.5%;
	color: #FFF;
}
.slider ul li .big-circle .we-think{
	left: 8.5%;
	top: 13%;
	font-size: 50px;
	width: 25%;
	text-align: center;
	position: absolute;
	color: #330000;
	font-family: 'font_5';
	line-height: 1;
}
.slider ul li .big-circle .button{
	position: absolute;
	top: 72%;
	left: 9%;
}
.slider ul li .big-circle .button a{
	font-family: 'font_2';
	font-size: 22px;
}
.slider ul li .big-circle .button a.discover-btn{
	margin-right: 1px;
	padding: 8px 20px;
	color: #000;
	text-decoration: underline;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}
.slider ul li .big-circle .button a.discover-btn:hover{
	background: #fff;
	text-decoration: none;

}
.slider ul li .big-circle .button a.quote-btn{
	background: #db3737;
	padding: 8px 20px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}
.slider ul li .big-circle .button a.quote-btn:hover{
	background: #fff;
	color: #000;
}
/*****************************/
/*banner*/
/*****************************/
.home-page .banner{
	background-image: url(../images/banner.jpg);
	background-color: #0a1324;
	background-position: center;
	height: 471px;
	color: #fff;
}
.home-page .banner .play-btn {
	width: 136px;
	height: 136px;
	background-position: -237px -272px;
	margin-top: 123px;
	margin-left: 320px;
}
.home-page .banner .play-btn:hover{
	background-position:-373px -272px;
}

.home-page .banner .info{
	margin-top: 120px;
}
.home-page .banner .info h1 span{
	font-size: 33px;
	font-family: 'font_1';
	display: block;
}
.home-page .banner .info h1 {
	font-size: 53px;
	font-weight: 600;
	line-height: .8em;
}
.home-page .banner .info div{
	font-family: 'font_1';
}
.home-page .banner .info div.first{
	margin-top: 20px;
}
.home-page .banner .info div a{
	color: #fff;
	text-decoration: underline;
}
.home-page .banner .info div.link{
	margin-top: 20px
}
.home-page .banner .info div.link a.quote{
	display: inline-block;
	text-decoration: none;
	font-size: 26px;
	text-align: center;
	padding:10px 20px;
	font-family: 'font_2';
}
.home-page .banner .info div.link a.quote:hover{
	background: #fff;
	color: #000;
}
.home-page .banner .info div.link a.discover{
	display: inline-block;
	color: #fff;
	text-decoration: underline;
	font-size: 26px;
	text-align: center;
	padding:10px 20px;
	font-family: 'font_2';
}
.home-page .banner .info div.link a.discover:hover{
	background: #fff;
	color: #000;
	text-decoration: none;
}
/*****************************/
/* // end banner*/
/*****************************/




/*****************************/
/*home service overview*/
/*****************************/

.home-page .home-content .home-services-overview ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.home-page .home-content .home-services-overview ul li{
	display: inline-block;
	width: 32.5%;
	margin-left: -3px;
	margin-bottom: -1px;
}
.home-page .home-content .home-services-overview ul li a{
	width: 100%;
	display: block;
	padding: 20px 0;
	float: left;
	margin-right: -2px;
	margin-bottom: -2px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #ccc;
	font-family: 'font_1';
}
.home-page .home-content .home-services-overview ul li a i {
	height: 65px;
	margin: 0 auto 10px;
	display: block;
}

.home-page .home-content .home-services-overview ul li a:hover {
	background-color: #000 !important;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}

.home-page .home-content .home-services-overview ul li a.web-design {
	background: #e04545;
}
.home-page .home-content .home-services-overview ul li a.web-design i {
	width: 73px;
	background-position: -1px -197px;
}

.home-page .home-content .home-services-overview ul li a.mobile-design {
	background: #8b499c;
}
.home-page .home-content .home-services-overview ul li a.mobile-design i {
	width: 66px;
	background-position: -147px -195px;
}

.home-page .home-content .home-services-overview ul li a.ui-ux {
	background: #3287c2;
}
.home-page .home-content .home-services-overview ul li a.ui-ux i {
	width: 71px;
	background-position: -75px -195px;
}

.home-page .home-content .home-services-overview ul li a.enterprises {
	background: #ef7b22;
}
.home-page .home-content .home-services-overview ul li a.enterprises i {
	width: 72px;
	background-position: -250px -238px;
	background-size: 1091px;
}

.home-page .home-content .home-services-overview ul li a.digital {
	background: #4b9342;
}
.home-page .home-content .home-services-overview ul li a.digital i {
	width: 75px;
	background-position: -325px -232px;
	background-size: 1091px;
}
/*****************************/
/* // end home services overview*/
/*****************************/


/*****************************/
/*our approach*/
/*****************************/

.home-page .home-content .our-approach{
	font-family: 'font_2';
	position: relative;
}
.home-page .home-content .our-approach h1{
	text-align: right;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 48px;
	font-weight: 200;
	line-height: .8em;
	clear: both;
	color:#000;
	font-family: 'font_2';
}

/*meet*/
.home-page .home-content .our-approach .meet{
	text-align: right;
	width: 82%;
	font-family: 'font_2';
}
.home-page .home-content .our-approach h3{
	font-family: 'font_2';
	color: #000;
	font-size: 32px;
	font-weight: 200;
	line-height: 1em;
	margin-bottom: 4px;
	text-align: right;
}
.home-page .home-content .our-approach p{
	font-family: 'font_2';
	font-size: 15px;
	text-align: right;
	color: #000;
}
/*.home-page .home-content .our-approach .meet{
	color: #3d3d3d;
}*/
/*.home-page .home-content .our-approach .meet:hover{
	color: #000;
}*/
.home-page .home-content .our-approach .meet i {
	width: 187px;
	height: 124px;
	background-position: -350px -1170px;
	margin-right: 101px;
	background-size: 765px;
	margin-top: 27px;
}
/*.home-page .home-content .our-approach .meet:hover i {
	background-position: -350px -1170px;
}*/
/*.home-page .home-content .our-approach .meet:hover .arrow-one{
	background-position: -77px 0px;	
}*/
/*end meet*/

/*plan*/
.home-page .home-content .our-approach .meet .arrow-one {
	width: 76px;
	height: 74px;
	background-position: 0px 0;
	position: absolute;
	bottom: -25px;
	left: -60px;
}
.home-page .home-content .our-approach .plan{
	width: 29%;
	position: relative;
	margin-left: 32%;
	padding-top: 22px;
}
.home-page .home-content .our-approach .plan i {
	width: 209px;
	height: 172px;
	right: -222px;
	top: 25px;
	position: absolute;
	background-size: 765px;
	background-position: -10px -1208px;
}
/*end plan*/

/*design*/
.home-page .home-content .our-approach .design{
	width: 32%;
	position: relative;
	margin-left: 5%;
	padding-top: 5px;
}
.home-page .home-content .our-approach .design i {
	width: 524px;
	height: 114px;
	right: -557px;
	position: absolute;
	top: 48px;
	background-position: 0px 661px;
	background-size: 765px;
}


.home-page .home-content .our-approach .design .arrow-one {
	width: 76px;
	height: 74px;
	background-position: -73px -77px;
	position: absolute;
	top: -59px;
	right: 48px;
}


/* end design*/



/*testing*/
.home-page .home-content .our-approach .testing-launch{
	width: 100%;
	position: relative;
	padding-top: 20px;;
}
.home-page .home-content .our-approach .testing-launch i {
	position: absolute;
	top: 42px;
	width: 743px;
	height: 275px;
	margin: auto;
	left: 0;
	right: 0;
	background-position: 0px 433px;
	background-size: 743px;
}
.home-page .home-content .our-approach .testing{
	width: 25%;
	margin-top: 23px;
	position: relative;
}
.home-page .home-content .our-approach .testing .arrow{
	width: 145px;
	height: 99px;
	background-position: -270px -98px;
	position: absolute;
	top: -43px;
	right: -169px;
}

/*launch*/
.home-page .home-content .our-approach .launch{
	width: 25%;
	position: relative;
	margin-left: 62%;
	margin-top: 74px;
}

/* end launch*/


/* end testing*/



/*****************************/
/* // end our approach*/
/*****************************/



/*****************************/
/*home-sample-work*/
/*****************************/
.home-sample-work{
	margin-top: 40px;
}
.home-sample-work h3 {
	text-align: center;
	font-size: 47px;
	padding: 40px 0;
	background: #fff;
	font-family: 'font_3';
	color: #000;
}
.home-sample-work .inner{
	background: #000;
}



/*****************************/
/*home some awesome work image*/
/*****************************/
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(104,11,28, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

.view {
	width: 23%;
   height: 147px;
   margin: 30px 7px;
	float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #000;
   -moz-box-shadow: 1px 1px 2px #000;
   box-shadow: 1px 1px 2px #000;
   cursor: default;
}
.view .mask,.view .content {
	width: 100%;
   height: 147px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
   width: 100%;
   height: 100%;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   margin-top: 23px;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}


/*****************************/
/* end home some awesome work image*/
/*****************************/


/*****************************/
/* end home-sample-work*/
/*****************************/

.home-page .blog-news .blog-section i{
	width: 48px;
	height: 57px;
	margin: 15px 0 10px 1px;
	display: block;
	background-position: -594px 0px;
}
.home-page .blog-news .news-section i{
	width: 48px;
	height: 57px;
	margin: 15px 0 10px 1px;
	display: block;
	background-position: -594px -56px;
}
.home-page .blog-news{
	padding: 20px;
	font-family: 'font_2';
	margin-bottom: 30px;
}
.home-page .blog-news h2{
	font-size: 32px;
}
.home-page .blog-news h3{
	font-family: 'font_3';
	font-size: 17px;
}
.home-page .blog-news .bttn{
	text-decoration: none;
	font-size: 16px;
}



/*****************************/
/*why-us*/
/*****************************/

.home-page .why-us{
	font-family: 'font_2';
	background: #fafafa;
	padding: 30px 0px;
}
.home-page .why-us h2{
	font-size: 42px;
	font-weight: 200;
	font-family: 'font_2';
	padding-bottom: 10px;
}
.home-page .why-us p{
	font-family: 'font_2';
	width: 90%
}
.home-page .why-us .get-start-now i {
	width: 106px;
	height: 64px;
	background-position: -535px -251px;
	display: block;
	margin: 20px 0 10px;
}
.home-page .why-us .get-start-now h2 span {
	display: block;
	font-size: 20px;
}
.home-page .why-us .get-start-now p{
	margin-top: 10px;
}

.home-page .why-us .red-btn{
	display: inline-block;
	text-align: center;
	font-size: 26px;
	font-weight: 400px;
	text-decoration: none;
	padding: 10px 20px;
	font-family: 'font_1';
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.home-page .why-us .red-btn:hover{
	background: #efefef;
	color: #000;
}
/*****************************/
/* end why-us*/
/*****************************/




/*****************************/
/*get-to-know-us*/
/*****************************/

.home-page .get-to-know-us {
	padding: 20px 0;
	background: #1d91d3;
	text-align: center;
}
.home-page .get-to-know-us h2{
	font-size: 42px;
	font-weight: 200;
	font-family: 'font_2';
	padding-bottom: 10px;
	color: #fff;

}
.home-page .get-to-know-us h2 span {
	display: block;
	font-size: 20px;
	padding-top: 12px;
}
.home-page .get-to-know-us h2 span strong{
	font-family: 'font_1';
}

.home-page .get-to-know-us  a {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 10px;
}
.home-page .get-to-know-us a:hover {
	background: #1181c3;
}
.home-page .get-to-know-us a i {
	display: block;
	margin: 35% auto 0;
}
.home-page .get-to-know-us  a.facebook i {
	width: 11px;
	height: 18px;
	background-position: -137px -282px;
}
.home-page .get-to-know-us .twitter i {
	width: 22px;
	height: 18px;
	background-position: -104px -284px;
}
.home-page .get-to-know-us .youtube i {
	width: 15px;
	height: 16px;
	background-position: 0px -284px;
}
.home-page .get-to-know-us .googleplus i {
	width: 11px;
	height: 16px;
	background-position: -53px -284px;
}
.home-page .get-to-know-us .linkedin i {
	width: 17px;
	height: 15px;
	background-position: -77px -284px;
}
.home-page .get-to-know-us .pinterest i {
	width: 14px;
	height: 17px;
	background-position: -158px -283px;
}
/*****************************/
/* end get-to-know-us*/
/*****************************/




/*****************************/
/*footer*/
/*****************************/
.footer {
	background: #efefef;
	padding-bottom: 50px;
}
.footer h3{
	padding: 20px 10px 10px;
	font-size: 29px;
	font-weight: 200;
	font-family: 'font_2';
	/*margin-left: 20px;*/
}
.footer ul{
	margin: 0px;
	padding:0px;
	list-style:none;
}
.footer ul li{
	display: block;
	position: relative;
	padding-left: 15px;
	color: #777;
}
.footer ul li a{
	color: #777;
	text-decoration: underline;
}
.contact-us-footer ul li:nth-child(4){
	margin-top: 5px;
}
.contact-us-footer ul li:nth-child(5){
	margin-top: 5px;
}
.footer ul li div{
	font-family: 'font_1';
	font-size: 14px;
	padding: 4px 10px;
}
.footer ul li:hover a{
	text-decoration: none;
	color: #fff;
}
.footer ul li:hover div{
	background: #000;
}

.footer .copyright{
	position: absolute;
	right: 0;
	bottom: 0px;
}
.footer .copyright .text{
	float: left;
	font-family: 'font_1';
	font-size: 13px;
	margin-top: 12px;
}
.footer .copyright .footer-logo{
	float: right;
	height: 42px;
	margin-left: 13px;
}
.footer .copyright .footer-logo img{
	height: 42px;
}
.footer ul.social{
	margin-top: 50px;
	float: right;
	margin-right: 20px;
}
.footer ul.social li{
	/*margin-top: 8px;*/
}
.footer ul.social li a{
	padding: 10px 5px 5px;
	display: block;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.footer ul.social li a:hover {
	background: #fff;
}
.footer ul.social i {
	width: 27px;
	height: 20px;
}

.footer ul.social li a.facebook i {
background-position: -132px -323px;
}
.footer ul li a.facebook:hover i {
	background-position: -132px -343px;
}

.footer ul.social li a.twitter i {
	background-position: -106px -323px;
}
.footer ul.social li a.twitter:hover i {
	background-position: -106px -343px;
}

.footer ul.social li a.youtube i {
	background-position: 3px -323px;
}
.footer ul.social li a.youtube:hover i {
	background-position: 3px -343px;
}

.footer ul.social li a.googleplus i {
	background-position: -51px -323px;
}
.footer ul.social li a.googleplus:hover i {
	background-position: -51px -343px;
}

.footer ul.social li a.linkedin i {
	background-position: -77px -323px;
}
.footer ul.social li a.linkedin:hover i {
	background-position: -77px -343px;
}

.footer ul.social li a.pinterest i {
	background-position: -156px -323px;
}
.footer ul.social li a.pinterest:hover i {
	background-position: -156px -343px;
}

/*****************************/
/*end footer*/
/*****************************/


/*****************************/
/*back to top*/
/*****************************/
.back-to-top{
	width: 52px;
	height: 52px;
	position: fixed;
	bottom: 2em;
	right: 20px;
	z-index: 20;
	text-decoration: none;
	color: #000;
	background-color: rgba(0,0,0,.9);
	background-position: 15px -370px;
	display: none;
}

/*****************************/
/* end back to top*/
/*****************************/








/*****************************/
/*services page styling*/
/*****************************/

/*****************************/
/*banner*/
/*****************************/
.service-banner{
	min-height: 225px;
	background-color: #666;
	background-image: url(../images/web-design-banner-pattern.png);
	background-position: bottom;
	border-bottom: 1px solid #efefef;
	margin-bottom: 30px;
	color: #fff;
	padding-left: 20px;
	padding-top: 13px;
	padding-bottom: 20px;
} 
.service-banner h1 {
	font-size: 45px;
	font-weight: 300;
	line-height: .7em;
	font-family: 'font_2';
}
.service-banner h1 span {
	display: block;
	font-size: 14px;
}
.service-banner p {
	font-size: 14px;
	padding-top: 6px;
	font-family: 'font_2';
	text-align: justify;
}

/*****************************/
/* end banner*/
/*****************************/

.services .services-overview{
	padding-left: 34px;
}
.services .services-overview .service-section{
	margin-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #efefef;
}
.services .services-overview .bttn{
	font-family: 'font_2';
}
.services .services-overview h2 a{
	color: #000;
	text-decoration: none;
	font-size: 36px;
	font-family: 'font_2';
}
.services .services-overview p{
	color: #000;
	text-decoration: none;
	font-size: 15px;
	font-family: 'font_2';
	text-align: justify;
}
.services .services-overview  a{
	text-decoration: none;
}
.services .services-overview  a.ico {
	width: 245px;
	top: 30px;
	display: block;
	position: absolute;
}

.services .services-overview .web a.ico {
	height: 188px;
	background-position: 258px 0px;
	right: 0;
}

.services .services-overview .ui-ux a.ico {
	height: 188px;
	background-position:258px -200px;
	left: 0;
}

.services .services-overview .mobile-design a.ico {
	height: 170px;
	background-position: 258px -402px;
	right: 0;
}

.services .services-overview .branding a.ico {
	height: 188px;
	background-position: 258px -585px;
	left: 30px;
}


.services .services-overview .graphic-design a.ico {
	height: 158px;
	width: 221px;
	background-position: 238px -1134px;
	right: 30px;
	top: 53px;
}

.services .services-overview .video-and-media a.ico {
	height: 170px;
	background-position: 258px -791px;
	left: 30px;
}

.services .services-overview .seo a.ico {
	height: 80px;
	background-position: 252px -1504px;
	right: 0px;
}
.services .services-overview  .advertising a.ico {
	height: 150px;
	background-position: 252px -1127px;
	left: 30px;
}

.services .services-overview .marketing-and-strategic-planning a.ico {
	height: 188px;
	background-position: -1055px -1313px;
	right: 30px;
}

.services .services-overview .business-management-mentoring a.ico {
	height: 100px;
	background-position: -1055px -1613px;
	left: 30px;
}



/*****************************/
/* end services page styling*/
/*****************************/








/*****************************/
/*sidebar*/
/*****************************/
.side-bar{
	position: absolute;
	background: #fff;
	top: 20px;
	right: 35px;
	z-index: 1;
	width: 27%;
	padding: 0px 20px 20px;
	-moz-box-shadow: 0px 0px 5px rgba(219, 219, 219, 1);
	-webkit-box-shadow: 0px 0px 5px rgba(219, 219, 219, 1);
	box-shadow: 0px 0px 5px rgba(219, 219, 219, 1);
}
.side-bar h6{
	font-size: 30px;
	font-weight: 200;
	color: #ccc;
	padding: 5px 10px;
	font-family: 'font_2';
	text-align: right;
}
.side-bar ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.side-bar ul li{
	display: block;
	text-align: right;
}
.side-bar ul li a{
	display: inline-block;
	padding: 4px 10px;
	font-weight: 300;
	color: #444;
	font-family: 'font_2';
	text-decoration: none;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.side-bar ul li a.active {
	background: #efefef;
	color: #444;
}
.side-bar ul li a:hover {
	font-weight: 400;
	color: #fff;
	background: #000;
}

/*****************************/
/* end sidebar*/
/*****************************/













/*****************************/
/*web design / interactive*/
/*****************************/

.web-design .service-banner{
	background-color: #db3737;
	color: #fff;
}
.content-section{
	margin-bottom: 20px;
}
.content-section .col-lg-10{
	padding-left: 30px;
}
.content-section p{
	font-family: 'font_2';
	font-size: 15px;
	text-align: justify;
	color:#000;
}
.content-section h2{
	padding: 20px 0 5px;
	font-size: 28px;
	font-weight: 200;
	font-family: 'font_2';
	color:#000;
}
.content-section ul{
	list-style: disc;
}
.content-section ul li {
	padding: 4px 0;
	font-family: 'font_2';
}
.web-design .content-section h2{
	width: 80%;
}
.web-design .content-section ul{
	width: 50%;
}
.footer-action{
	background: #db3737;
	padding: 30px 0;
	color: #fff;
}
.footer-action .generation-info{
	width: 73%;
	margin-left: 20px;	
}
.footer-action .generation-info i {
	width: 86px;
	height: 95px;
	position: absolute;
	bottom: -30px;
	right: 86px;
	background-position: -360px -1118px;
	background-size: 650px;
}
.footer-action h5 {
	font-size: 36px;
	font-weight: 200;
	font-family: 'font_2';
}
.footer-action p{
	font-family: 'font_2';
	font-size: 16px;
}
.footer-action p strong{
	display: block;
	font-family: 'font_3';
}
.footer-action p a{
	color: #fff;
	text-decoration: underline;
}
.footer-action a.bttn{
	text-decoration: none;
	font-family: 'font_2';
}
.footer-action .request-quote{
	width: 80%;
}
.footer-action .request-quote i {
	width: 105px;
	height: 93px;
	position: absolute;
	bottom: -29px;
	right: 83px;
	background-position: -249px -1118px;
	background-size: 650px;
}

/*****************************/
/* end web design / interactive*/
/*****************************/






/*****************************/
/* Start UI / UX */
/*****************************/

.ui-ux-page .service-banner{
	background-color: #8b499c;
	color: #fff;
}

/*****************************/
/* end UI / UX */
/*****************************/







/*****************************/
/* Start mobile-design-page */
/*****************************/

.mobile-design-page .service-banner{
	background-color: #3287c2;
	color: #fff;
}

/*****************************/
/* end mobile-design-page */
/*****************************/






/*****************************/
/* Start enterprise-page */
/*****************************/

.enterprise-page .service-banner{
	background-color: #d15894;
	color: #fff;
}

/*****************************/
/* end enterprise-page */
/*****************************/







/*****************************/
/* Start graphic-design-page */
/*****************************/

.digital-marketing-page .service-banner{
	background-color: #21c2bc;
	color: #fff;
}

/*****************************/
/* end graphic-design-page */
/*****************************/





/*****************************/
/* Start video-media-page */
/*****************************/

.video-media-page .service-banner{
	background-color: #ef7b22;
	color: #fff;
}
.video-media-page .content-section h2{
	width: 70%;
}
/*****************************/
/* end video-media-page */
/*****************************/











/*****************************/
/* Start seo-page */
/*****************************/

.seo-page .service-banner{
	background-color: #4b9342;
	color: #fff;
}
.seo-page .content-section h3{
	font-family: 'font_3';
	font-size: 20px;
	color: #000;
}
/*****************************/
/* end seo-page */
/*****************************/


/*****************************/
/* Start advertising-page */
/*****************************/

.advertising-page .service-banner{
	background-color: #9A951F;
	color: #fff;
}
.advertising-page .content-section h3{
	font-family: 'font_3';
	font-size: 20px;
	color: #000;
}
/*****************************/
/* end advertising-page */
/*****************************/





/*****************************/
/* start folio-page */
/*****************************/
.folio-page{
	background-color: #efefef;
	background-image: url(../images/web-design-banner-pattern.png);
}
.folio-page .folio-banner{
	padding: 60px;
	color: #000;
}
.folio-page .folio-banner span{
	font-family: 'font_1';
	font-size:16px;
}
.folio-page .folio-banner h1{
	font-family: 'font_3';
	margin:0px;
	padding:0px;
	font-size: 46px;
	font-weight: bold;
}

.folio-page .folio-banner p{
	font-family: 'font_2';
	font-size: 16px;
}

.folio-page .folio-content{
	margin-bottom: 30px;
}
.folio-page .folio-content ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.folio-page .folio-content ul li{
	position: relative;
	display: inline-block;
	width: 33%;
	margin-top: 5px;
	overflow: hidden;
	cursor: pointer;
}
.folio-page .folio-content ul li img{
	width: 100%;
	height: 200px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}
.folio-page .folio-content ul li:hover img{
	transform: scale(1.07);
	-ms-transform: scale(1.07);
	-webkit-transform: scale(1.07);
}
.folio-page .folio-content ul li:hover .view-folio{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha(Opacity=100)";
}
.folio-page .folio-content ul li .view-folio{

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(Opacity=0)";
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	transition: opacity .3s ease;
}
.folio-page .folio-content ul li .view-folio span{
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: .7;
}
.folio-page .folio-content ul li a{
	position: absolute;
	top: 70px;
	left: 39%;
	background: #db3737;
	font-family: 'font_2';
	color: #fff;
	padding: 7px 18px;
	text-decoration: none;
	-webkit-transition: top .3s ease;
	-moz-transition: top .3s ease;
	-o-transition: top .3s ease;
	-ms-transition: top .3s ease;
	transition: top .3s ease;
}

.folio-page .folio-content ul li:hover a{
	top:83px;
}

/*folio modal*/
.folio-modal .modal-content{
	border-radius: 0px;
}
.folio-modal .modal-content .modal-title{
	font-family: 'font_3';
	font-size: 30px;
	text-align: center;
}
.folio-modal .modal-content .folio-image{

}
.folio-modal .modal-content .folio-image img{
	width: 100%;
	margin: 20px;
	margin-top: 24px;
	box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
}
.folio-modal .modal-content .folio-desc p{
	font-family: 'font_2';
	font-size: 14px;
	text-align: justify;
}
.folio-modal .modal-content .folio-desc .desc-heading{
	font-family: 'font_1';
	font-size: 20px;
	text-align: center;
}

/* end folio modal*/



/*****************************/
/* end folio-page */
/*****************************/


/*****************************/
/* start quote-page*/
/*****************************/

.quote .service-banner p{
	width: 60%;
}

.quote .quote-overview{
padding-left: 34px;
}

.quote .quote-overview h2{
	color: #000;
	text-decoration: none;
	font-size: 26px;
	font-family: 'font_2';
}

.quote .quote-overview p {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	font-family: 'font_2';
}
.quote .quote-overview .form-section{
	width: 86%;
	margin-bottom: 30px;
}
.quote .quote-overview .form{
	margin-top: 20px;
}
.quote .quote-overview .labeled{
	color: #626262;
	font-size: 15px;
	font-family: 'font_2';
	padding-top: 5px;
}
.quote .quote-overview input, .quote .quote-overview select, .quote .quote-overview textarea{
	border-radius: 0px;
	height: 37px;
	font-family: 'font_1';
}
.form-section #first-name{
	width: 40%;
}
.form-section #last-name{
	width: 55%;
}
.form-section #email{
	width: 80%;
}
.form-section #website{
	width: 100%;
}

.form-section #phone{
	width: 70%;
}
.form-section #company-name{
	width: 80%;
}

.form-section #yout-title{
	width: 100%;
}

.form-section #project-needs{
	width: 90%;
}
.form-section #your-budget{
	width: 60%;
}
.form-section #your-plan{
	width: 100%;
}
.form-section #hear-aboutus{
	width: 75%;
}


.submit-form-btn{
	padding: 14px 20px;
	background: #db3737;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	border: 0;
	cursor: pointer;
	font-family: 'font_1';
	width: 71%;
	text-align: center;
}
.submit-form-btn:hover{
	background: #000;
}

.quote-overview .r-s{
	margin-top: 15px;
	background: #F3F3E5;
	padding: 20px;
	padding-top: 30px;
}
.quote-overview .r-s p{
	font-size: 15px;
	width: 82%;
}
.quote-overview .r-s p a{
	font-size: 15px;	
	text-decoration: underline;
}
/*****************************/
/* end quote-page*/
/*****************************/



/*contact us page*/
.contact .map{
	position: relative;
}
.map-data{
	position: absolute;
	top: 20px;
	left: 143px;
	color: #fff;
	font-family: 'font_2';
	width: 34%;
}
.contact .map h1 span{
	font-size: 14px;
	display:block;
}
.contact .map-data h1{
	padding: 20px;
	background: #000;
	opacity: 0.8;
	width: 65%;
	margin: 0px;
	padding-bottom: 0px;
	font-size: 45px;
}
.contact .map-data p{
	padding:20px;
	background: #000;
	opacity: 0.8;
	width: 100%;
}
.contact .quote-overview{
	margin-top: 30px;
}
.mobile-contact-us{
	display: none;
}







/*****************************/
/*company-page*/
/*****************************/
.company .company-brain{
	text-align: center;
}
.company .company-brain img{
	height: 330px;
}
.company .company-brain .company-brain-img-2{
	display: none;
}
.company .who{
	margin-top: 30px;
}
.company .think-different, .company .being-unique{
	padding: 30px 0; 
	text-align: center;
	margin-top: 78px;
}

.company .think-different i {
	width: 98px;
	background-position: 0 -824px;
	height: 145px;
	margin: 0 auto 10px;
}
.company .being-unique i {
	width: 249px;
	background-position: -113px -824px;
	height: 145px;
	margin: 0 auto 10px;
}
.company .who h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	font-family: 'font_1';
	color: #000;
}
.company .who h2 em {
	display: block;
	font-weight: 200;
}
.company .who .down{
	width: 168px;
	height: 178px;
	position: absolute;
	top: 123px;
	left: 40%;
}
.company .who .down i{
	width: 168px;
	height: 178px;
	background-position: -384px -827px
}
.company .who .discover-tcm .ship {
	width: 521px;
	height: 255px;
	margin: 20px auto 0px auto;
	background-position: 0px -1006px;
}
.company .who .discover-tcm h1{
	font-size: 46px;
	font-family: 'font_3';
	color: #000;
}
.company .who .discover-tcm p {
	width: 80%;
	margin: 0 auto;
	font-size: 28px;
	font-family: 'font_2';
	color: #000;
}
.company .who .discover-tcm p strong {
	display: block;
}
.company .who .discover-tcm p span {
	display: inline;
	padding-bottom: 8px;
	background-position: -519px -353px;
	background-repeat: no-repeat;
}
.company .who .discover-tcm i.downn{
	width: 51px;
	height: 21px;
	background-position: -519px -1096px;
	margin: 20px auto;
}
.company .who .discover-tcm{
	padding-bottom: 50px;
}

.company .what{ 
	background: #f1f1f1;
	text-align: center;
	padding: 40px 0;
	font-family: 'font_2';
	color: #000;
}
.company .what h2{
	font-size: 36px;
	font-weight: 400;
	line-height: 1em;
	font-family: 'font_2';
	color: #000;
}
.company .what h2 strong{
	display: block;
	font-size: 46px;
}
.company .what .different{
	width: 75%;
	float: right;
	position: relative;
}
.company .what .different i {
	position: absolute;
	width: 105px;
	height: 156px;
	background-position: -286px -1745px;
	top: -100px;
	left: -30px;
}
.company .what .unique{
	width: 75%;
	float: left;
	position: relative;
}
.company .what .unique i {
	width: 249px;
	height: 147px;
	position: absolute;
	background-position: -393px -1746px;
	top: -80px;
	right: -160px;
}
.company .what .different h3, .company .what .unique h3{
	font-size: 43px;
	font-weight: 200;
	padding-bottom: 10px;
}
.what .different p, .what .unique p {
	font-size: 20px;
}

.company .trust{
	background: #ffffdf;
	text-align: center;
	padding: 50px 0 40px;
}

.company .trust i {
	width: 651px;
	height: 111px;
	background-position: 0px 656px;
	position: absolute;
	top: -80px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.company .trust h2 {
	font-size: 43px;
	font-weight: 200;
	padding-bottom: 10px;
	font-family: 'font_2';
	margin: 0px;
	padding: 0px;
}
.company .trust p {
	font-family: 'font_2';
	width: 60%;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	padding-top: 20px;
}

.company .connect h3 {
	padding: 30px 0 20px;
	font-size: 52px;
	font-weight: 300;
	color: #b1b1b1;
	font-family: 'font_2';
}
.company .connect ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.company .connect ul li{
	display: inline-block;
	margin: 0 0 20px;
	width: 30%;
}
.company .connect ul li a{
	display: block;
}

.company .connect ul li a i {
	width: 110px;
	height: 110px;
}
.company .connect ul li a.facebook i {
	background-position: 0px -584px
}
.company .connect ul li a.facebook:hover i {
	background-position: 0 -694px;
}

.company .connect ul li a.twitter i {
	background-position: -551px -584px;
}
.company .connect ul li a.twitter:hover i {
	background-position: -551px -694px;
}

.company .connect ul li a.youtube i {
	background-position: -330px -584px;
}
.company .connect ul li a.youtube:hover i {
	background-position: -330px -694px;
}

.company .connect ul li a.google i {
	background-position: -220px -584px;
}
.company .connect ul li a.google:hover i {
	background-position: -220px -694px;
}

.company .connect ul li a.linkedin i {
	background-position: -110px -584px;
}
.company .connect ul li a.linkedin:hover i {
	background-position: -110px -694px;
}

.company .connect ul li a.pinterest i {
	background-position: -440px -584px;
}
.company .connect ul li a.pinterest:hover i {
	background-position: -440px -694px;
}
.company .connect .get-started{
	padding: 30px 0;
}
.company .connect .get-started a{
	width: 452px;
	display: block;
	margin: 0 auto;
	padding: 100px 0;
	background: #d02a39;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
.company .connect .get-started a:hover{
	background: #000;
}
.company .connect .get-started i {
	width: 146px;
	height: 92px;
	background-position: -25px -1715px;
	margin: 0 auto;
	display: block;
}
.company .connect .get-started h6 {
	font-size: 52px;
	font-weight: 300;
	color: #fff;
	line-height: 1em;
	padding: 20px 0;
	margin: 0;
	font-family: 'font_2';
}
.company .connect .get-started h6 span {
	display: block;
	font-weight: 600;
	font-family: 'font_4';
}
.company .connect .get-started p{
	font-family: 'font_2';
}
.company .discover-sample {
	background: #000;
	padding: 30px 0;
	color: #fff;
	font-family: 'font_1';
	color: #b0b1b1;
}
.company .discover-sample .ft-rt{
	width: 90%
}
.company .discover-sample h5 {
	font-size: 52px;
	font-weight: 400;
	line-height: 1em;
	
}
.company .discover-sample p {
	font-size: 19px;
	font-weight: 400;
	line-height: 1.4em;
}

.company .company-progress {
	padding: 100px 0;
	background: #efefef;
}
.company .company-progress h3 {
	font-size: 40px;
	font-weight: 200;
	line-height: 1em;
	padding-bottom: 40px;
	text-align: center;
	font-family: 'font_2';
}
.company .company-progress ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.company .company-progress ul li{
	display: inline-block;
	width: 25%;
	text-align: center;
	font-size: 16px;
	font-family: 'font_2';
	float: left;
}
.company .company-progress li i {
	width: 90px;
	height: 90px;
	margin: 0 auto 10px;

}
.company-progress .coffee i {
	background-position: 8px -423px;
}
.company-progress .code i {
	width: 104px !important;
	background-position: -130px -423px;
}
.company-progress .pixel i {
	background-position: -286px -423px;
}
.company-progress .tweets i {
	background-position: -420px -423px;
}
.company-progress .songs i {
	background-position: -574px -416px;
}
.company-progress li span {
	display: block;
}
.company-progress li span.num {
	font-size: 36px;
	font-weight: 600;
	font-family: 'font_1';
	color: #000;
}
.company-progress li span.text {
	font-size: 16px;
	font-family: 'font_2';
	color: #000;
}
/*****************************/
/* end company-page*/
/*****************************/




/*start error-page*/
.error-page{
	text-align: center;
}
.error-page h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 42px;
	color: #979797;
	margin-top: 65px;
}
.error-page h2{
	color: #979797;
	font-size: 80px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	padding: 14px 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.error-page p{
	color: #979797;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	margin: 15px 0px 34px;
}
/*start error-page*/




















